
    <section id="webinars">
        <div class="container">
  
            
            <h3 class="text-center mt-0 pt-5" id="azul"> Cuarto Ciclo de Webinars SCHUNK</h3>
  <p class="text-center"id="cyan">Del Lunes 11 de al viernes 15 de mayo. </p>
  
            <section class="page-section" >
                <div class="container">
                    <hr class="divider my-4" />
                    <h2 class="text-center mt-0" id="azul">Cómo acceder a la reunión</h2>
                  
                    <div class="row">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                              <i class="fas fa-4x fa-mouse-pointer  mb-4"></i>
                                <h3 class="h4 mb-2" id="azul">1.-</h3>
                                <p class="text-muted mb-0">Da clic en la imagen del webinar deseado, despues en el botón registro.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fas fa-keyboard  mb-4"></i>
                                <h3 class="h4 mb-2" id="azul">2.- </h3>
                                <p class="text-muted mb-0" id="cyan">Por favor llena el formulario de registro.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-envelope-open-text  mb-4"></i>
                                <h3 class="h4 mb-2" id="azul">3.-</h3>
                                <p class="text-muted mb-0" id="cyan">Un correo de confirmación llegará a tu cuenta con la información y el link de acceso al webinar.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="far fa-4x fa-clock  mb-4"></i> 
                                <h3 class="h4 mb-2" id="azul">4.-</h3>
                                <p class="text-muted mb-0" id="cyan"> La reunión iniciará automáticamente en la fecha y horario señalados.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
  
            <hr class="divider my-4" />
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/gripperE.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                            <p class="card-title">Imparte:</p>
                               <p class="card-text">  Ángel Valle  <br>Gerente de Ventas México y Latinoamérica</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZUodeGvqjktH9XHsm2cVfuD7AmBnpfjYhQe"  role="button">Regístrate</a>
                               
                           </div>
                           
                        </div>   
                        <p id="sesion" class="text-left pt-3">Aplicaciones Automatizadas de Rebabeo (desbarbado).</p>
                           <a href="https://us02web.zoom.us/meeting/register/tZUodeGvqjktH9XHsm2cVfuD7AmBnpfjYhQe"><div class="text-left pt-1"id="sesionSub">Lunes 11 Mayo 11:00 horas CDT</div></a>                     
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/NCKPLUS.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text "> César Godínez <br>Ingeniero de Soporte Bajío</p>
                               <a class="boton-link2" href="https://us02web.zoom.us/meeting/register/tZMscuqpqzgoE9LaTEzcfikPGvH-Hqi9HHXD"  role="button">Regístrate</a>
                               
                           </div>
                        </div> 
                        <p id="sesion" class="text-left pt-3">ROTA NCK Plus. Chuck Automático para Tornos CNC.</p>
                          <a href="https://us02web.zoom.us/meeting/register/tZMscuqpqzgoE9LaTEzcfikPGvH-Hqi9HHXD"> <div class="text-left"id="sesionSub">Lunes 11 Mayo 16:00 horas CDT</div></a>       
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/ROTATP.PNG" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text "> Jesús Chávez <br>Asesor Clamping Technology</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZYvc-6hrDovGNdTPSt2XoxeKFEtNRNg7SWd"  role="button">Regístrate</a>
                               
                           </div>
                        </div>      
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Chucks Neumáticos.</p>
                          <a href="https://us02web.zoom.us/meeting/register/tZYvc-6hrDovGNdTPSt2XoxeKFEtNRNg7SWd"> <div class="text-left"id="sesionSub">Martes 12 Mayo 11:00 horas CDT</div>  </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/5.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p id="ponente" class="card-text">Erik Portillo<br> Ingeniero de Soporte Centro<br> Gripping Systems</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZEpdOGgqzIsGdHyUBe8kCg-ofFkLoBv0BZb"  role="button">Regístrate</a>
                           </div>
                        </div>    
                        <p id="sesion" class="text-left pt-3">Sistemas Automatizados de Ensamble Modular.</p>
                          <a href="https://us02web.zoom.us/meeting/register/tZEpdOGgqzIsGdHyUBe8kCg-ofFkLoBv0BZb"> <div class="text-left"id="sesionSub">Martes 12 Mayo 16:00 horas CDT</div>  </a>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/t.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text">Hugo Hernández<br>Trainee Servicio Técnico</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZIufu6uqzgtEtVvS1mFW4HpvxyFZVQFdNPf"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div> 
                        <p id="sesion" class="text-left pt-3">Mantenimiento Preventivo a Portaherramientas.</p>
                          <a href="https://us02web.zoom.us/meeting/register/tZIufu6uqzgtEtVvS1mFW4HpvxyFZVQFdNPf"> <div class="text-left"id="sesionSub">Miércoles 13 Mayo 11:00 horas CDT</div> </a>                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/gripper1.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text "> Juan Carlos Corral <br>Especialista de Producto Gripping Systems</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZwvf-qvrTooGdGjIoJ4uM586f_SDOD5S_Yu"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Sensores de Fuerza y Torque.</p>
                        <a href="https://us02web.zoom.us/meeting/register/tZwvf-qvrTooGdGjIoJ4uM586f_SDOD5S_Yu"> <div class="text-left "id="sesionSub">Miércoles 13 Mayo 16:00 horas CDT</div>  </a>    
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/SRU.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text ">Sebastián Garzón <br>Soporte Servicio Técnico</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZUsdu6vpj4jGdUubyGRGT54LBeHbq2PCCGc"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">¿Cómo ajustar el ángulo de giro en Módulos de Giro Neumáticos?</p>
                        <a href="https://us02web.zoom.us/meeting/register/tZUsdu6vpj4jGdUubyGRGT54LBeHbq2PCCGc"><div class="text-left "id="sesionSub">Jueves 14 Mayo 11:00 horas CDT</div></a>      
                    </div>
  
  
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/TANDEM.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text ">Jordan Pérez<br>Ingeniero de Soporte Centro<br> Clamping Technology</p>
                               <a class="boton-link2" href="https://us02web.zoom.us/meeting/register/tZwudumupj0vG92wcf5QVztoCcPEoreSt74O"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">TANDEM. Aplicaciones de Prensas Neumáticas e Hidráulicas</p>
                            <a href="https://us02web.zoom.us/meeting/register/tZwudumupj0vG92wcf5QVztoCcPEoreSt74O"><div class="text-left"id="sesionSub">Jueves 14 Mayo 16:00 horas CDT</div> </a>     
                    </div>
                  
                </div> <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/srm.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text">David Cruz<br>  Ingeniero de Soporte<br> Norte Synergy</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZMtdOGgrD8uHdQ30I_kjozoCHKkOYzwp-gn"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div> 
                        <p id="sesion" class="text-left pt-3">SRM. Aplicaciones de Módulos de Giro.</p>
                            <a href="https://us02web.zoom.us/meeting/register/tZMtdOGgrD8uHdQ30I_kjozoCHKkOYzwp-gn"><div class="text-left"id="sesionSub">Viernes 15 Mayo 11:00 horas CDT</div></a>                         
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/m.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text ">Zacarías Rojas<br>  Especialista Producto<br> Clamping Technology</p>
                               <a class="boton-link2"  href="https://us02web.zoom.us/meeting/register/tZUlce6ppzsqGNbn4DHXZt2XIeu-tsnbTRRJ"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Mordazas Especiales.</p>
                        <a href="https://us02web.zoom.us/meeting/register/tZUlce6ppzsqGNbn4DHXZt2XIeu-tsnbTRRJ"> <div class="text-left"id="sesionSub">Viernes 15 Mayo 16:00 horas CDT</div>   </a>   
                    </div>
                    
  
  
                  
                  
                </div>
  
  
            </div>
        </div>
    </section>



    <section id="webinars">
        <div class="container">
  
          <h3 class="text-center pt-5 pb-3" id="azul">¿Te perdiste alguno?</h3>
          <p class="text-center"id="cyan">Si quieres conocer todos los webinars de SCHUNK Intec México puedes acceder al archivo en el enlace siguiente.</p>
              <div class="text-center">
                  <a class="boton-link2" href="/webinars" role="button">Archivo de Webinars</a>
              </div>
            <h3 class="text-center mt-0 pt-5" id="azul"> Quinto Ciclo de Webinars SCHUNK</h3>
  <p class="text-center"id="cyan">Del Lunes 18 de al viernes 22 de mayo. </p>
  
            <section class="page-section" >
                <div class="container">
                    <hr class="divider my-4" />
                    <h2 class="text-center mt-0" id="azul">Cómo acceder a la reunión</h2>
                  
                    <div class="row">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                              <i class="fas fa-4x fa-mouse-pointer  mb-4"></i>
                                <h3 class="h4 mb-2" id="azul">1.-</h3>
                                <p class="text-muted mb-0">Da clic en la imagen del webinar deseado, despues en el botón registro.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fas fa-keyboard  mb-4"></i>
                                <h3 class="h4 mb-2" id="azul">2.- </h3>
                                <p class="text-muted mb-0" id="cyan">Por favor llena el formulario de registro.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-envelope-open-text  mb-4"></i>
                                <h3 class="h4 mb-2" id="azul">3.-</h3>
                                <p class="text-muted mb-0" id="cyan">Un correo de confirmación llegará a tu cuenta con la información y el link de acceso al webinar.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="far fa-4x fa-clock  mb-4"></i> 
                                <h3 class="h4 mb-2" id="azul">4.-</h3>
                                <p class="text-muted mb-0" id="cyan"> La reunión iniciará automáticamente en la fecha y horario señalados.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
  
            <hr class="divider my-4" />
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/m.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                            <p class="card-title">Imparte:</p>
                               <p class="card-text">Arely Coyotl  <br>Servicio al Cliente <br> Clamping Technology</p>
                               <a class="boton-link2"  href= <%=webinar1%>   role="button">Regístrate</a>
                               
                           </div>
                           
                        </div>   
                        <p id="sesion" class="text-left pt-3">Selección de Mordazas.</p>
                           <a href=<%=webinar1%>><div class="text-left pt-1"id="sesionSub"><br>Lunes 18 Mayo 11:00 horas CDT </div></a>                     
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/sensor2.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text "> Daniel Esquivel <br>Ingeniero de Soporte Bajío <br> Gripping Systems</p>
                               <a class="boton-link2" href=<%=webinar2%>  role="button">Regístrate</a>
                               
                           </div>
                        </div> 
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Sensores de Colisión.</p>
                          <a href="<%=webinar2%>"> <div class="text-left"id="sesionSub">Lunes 18 Mayo 16:00 horas CDT</div></a>       
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/depanelizadora.PNG" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text "> Gustavo Morales  <br>Ingeniero de Soporte Depanelizadoras Bajío</p>
                               <a class="boton-link2"  href="<%=webinar3%>"  role="button">Regístrate</a>
                               
                           </div>
                        </div>      
                        <p id="sesion" class="text-left pt-3">Depanelizado moderno VS Depanelizado convencional.</p>
                          <a href="<%=webinar3%>"> <div class="text-left"id="sesionSub">Martes 19 Mayo 11:00 horas CDT</div>  </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/Magnetic-lifter.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p id="ponente" class="card-text">Isaac Godínez <br> Ingeniero de Soporte Bajío <br> Synergy</p>
                               <a class="boton-link2"  href="<%=webinar4%>"  role="button">Regístrate</a>
                           </div>
                        </div>    
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Levantadores Magnéticos.</p>
                          <a href="<%=webinar4%>"> <div class="text-left"id="sesionSub">Martes 19 Mayo 16:00 horas CDT</div>  </a>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/t.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text">Rodrigo Torres<br>Especialista de producto <br> Clamping Technology Grupo 02-04</p>
                               <a class="boton-link2"  href="<%=webinar5%>"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div> 
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Árboles de Expansión Hidráulica.</p>
                          <a href="<%=webinar5%>"> <div class="text-left"id="sesionSub">Miércoles 20 Mayo 11:00 horas CDT</div> </a>                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/linear.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text "> Ángel Márquez  <br>Especialista de Producto <br> Gripping Systems</p>
                               <a class="boton-link2"  href="<%=webinar6%>"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Módulos & Motores Lineales</p>
                        <a href="<%=webinar6%>"> <div class="text-left "id="sesionSub">Miércoles 20 Mayo 16:00 horas CDT</div>  </a>    
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/SRU.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text ">Ángel Valle  <br>Gerente de Ventas</p>
                               <a class="boton-link2"  href="<%=webinar7%>"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Sensado y Electrónica en Sistemas de Sujeción</p>
                        <a href="<%=webinar7%>"><div class="text-left "id="sesionSub">Jueves 21 Mayo 11:00 horas CDT</div></a>      
                    </div>
  
  
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/TANDEM.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text ">Tomás Mina<br>Trainne Gripping Systems</p>
                               <a class="boton-link2" href="<%=webinar8%>"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">Aplicaciones de Sensores Digitales.</p>
                            <a href="<%=webinar8%>"><div class="text-left"id="sesionSub">Jueves 21 Mayo 16:00 horas CDT</div> </a>     
                    </div>
                  
                </div> <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/KONTEC-VISE.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text">Andrés Ramos <br>  Servicio Técnico y Depanelizadoras</p>
                               <a class="boton-link2"  href="<%=webinar9%>"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div> 
                        <p id="sesion" class="text-left pt-3">Mantenimiento Preventivo de Prensas Manuales</p>
                            <a href="<%=webinar9%>"><div class="text-left"id="sesionSub">Viernes 22 Mayo 11:00 horas CDT</div></a>                         
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 p-3">
                        <div class="card text-white">
                           <img class="card-img" src="img/MMS.png" alt="Card image">
                           <div class="card-img-overlay ovl">
                               <p class="card-title">Imparte:</p>
                               <p class="card-text ">Isidoro Hernández <br> Ingeniero de Aplicaciones <br> Gripping Systems</p>
                               <a class="boton-link2"  href="<%=webinar10%>"  role="button">Regístrate</a>
  
                               
                           </div>
                        </div>  
                        <p id="sesion" class="text-left pt-3">Instalación y Programación de Sensores.</p>
                        <a href="<%=webinar10%>"> <div class="text-left"id="sesionSub">Viernes 22 Mayo 16:00 horas CDT</div>   </a>   
                    </div>
                    
  
  
                  
                  
                </div>
  
  
            </div>
        </div>
    </section>